.login-modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.50);
  top: 0;
  left: 0;

}

.login-modal{
  width: 370px;
  height: 512px;
  margin: 100px auto;
  background: #FFFFFF;
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  position: relative;
  padding: 20px;
  text-align: center;
}
.login-modal-t-img{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -37px;
  right: 0;
  cursor: pointer;
}
.login-modal-t {
  text-align: left;
}
.login-modal-t span{
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #333333;
}
.login-modal-t-p{
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
  background: #FFFFFF;
  border: 2px solid #D4D4D4;
  border-radius: 2px;
  text-align: left;
  position: relative;
}

.login-modal-t-p input{
  outline: none;
  border: 1px solid transparent;
  /*width: 200px;*/
  width: 90%;
  height: 46px;
  margin: 0;
  padding: 0;
  padding-left: 4px;
}
.login-modal-t-p button{
  width: 70px;
  height: 30px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #FFFFFF;
  background: #76BCFF;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent !important;
  position: absolute;
  right: 10px;
  top: 10px;

}
.login-modal-t-p-b-disable{
  background:rgba(217,217,217,1) !important;
}

.login-modal-t-c {
  /*width: 328px;*/
  height: 50px;
  line-height: 50px;
  margin-top: 30px;
  /*margin-left: 30px;*/
  background: #FFFFFF;
  border: 2px solid #D4D4D4;
  border-radius: 2px;
  text-align: left;
}

.login-modal-t-c input{
  outline: none;
  border: 1px solid transparent;
  height: 46px !important;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  width: 90%;
}

.login-modal-t-b{
  margin-top: 40px;
}

.login-modal-t-b button{
  width: 180px;
  height: 40px;
  outline: none;
  background: #76BCFF;
  border-radius: 2px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid transparent !important;
  cursor: pointer;
}
.login-modal-t-s{
  margin-top: 35px;

}
.login-modal-t-s span{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #999999;
}

.login-modal-t-wx{
  margin-top: 20px;
  height: 80px;
}
.login-modal-t-wx-1{

}
.login-modal-t-wx-1-1{
  text-align: right;

}
.login-modal-t-wx-1-1 img{
  margin-right: 10px;
}
.login-modal-t-wx-1-2{
  text-align: left;
}
.login-modal-t-wx-1-2 img{
  margin-left: 10px;
}

.login-modal-t-wx-2{
  margin-top: 10px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
}
.login-modal-t-wx img{
  /*width: 25px;*/
  /*height: 25px;*/
}


.login-modal-t-xx{
  /*margin-top: 40px;*/
  margin-top: 30px;
}

.login-modal-t-xx span{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
}
.login-modal-t-xx span:nth-child(2){
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #76BCFF;
  cursor:pointer;
}
.login-modal-t-xx-2{
  /*margin-top: 40px;*/
  margin-top: 10px;
}

.login-modal-t-xx-2 span{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999999;
}
.login-modal-t-xx-2 span:nth-child(2){
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #76BCFF;
  cursor:pointer;
}

.wx-login-modal-p{
  margin-top: 10px;
  text-align: left;
}
.wx-login-modal-p a{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #999999;
}

.wx-login-modal-img{
  /*margin-top: 74px;*/
  /*width: 120px;*/
  /*height: 120px;*/
}
.wx-login-modal-img iframe{
  sandbox:allow-scripts allow-top-navigation allow-same-origin !important;
}
.wx-login-modal-sm{
  /*margin-top: 25px;*/
}
