.news-list {
  padding-left: 25px;
  overflow: auto;
  /*height: 900px;*/
}

.news-list::-webkit-scrollbar {
  /*display: none;*/
}

.news-list-item {
  /*height: 490px;*/
  margin-top: 30px;
  padding: 14px;
  background-color: #FFFFFF;
  border-radius: 21px 8px 8px 8px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.news-list-item:first-child {
  margin-top: 0px !important;
}

.news-list-item-icon {
  text-align: left;
  height: 25px;
  display: flex;
  align-items: center;
}

.news-list-item-icon img {
  max-height: 100%;
  max-width: 100%;
  align-items: center;
}

.news-list-item-league {
  text-align: left;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 25px;
}

.news-list-item-title {
  margin-top: 10px;
  text-align: left;

}

.news-list-item-title a {
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 28px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.news-list-content {
  text-align: left;
  height: 30px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;

}

.news-list-content p {
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}

.news-list-item-img {
  margin-top: 10px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.news-list-item-img img {
  /*max-height: 100%;*/
  max-width: 100%;
  border-radius: 8px;

}

.news-list-item-time {
  text-align: left;
  text-indent: 10px;
  font-size: 10px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);

}

.news-list-item-like{
  text-align: center;
  font-size:8px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,1);
  line-height:20px;
}
.news-list-item-like-img{
  text-align: right;
}
.news-list-item-like-img img{
  width: 15px;
  height: 14px;
}
.news-list-item-com{
  text-align: center;
  font-size:8px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(0,0,0,1);
  line-height:20px;
}
.news-list-item-com-img{
  text-align: right;
}
.news-list-item-com-img img{
  width: 15px;
  height: 14px;
}
