.hot-topics {
  padding-left: 10px;
}

.hot-topics-title {
  height: 35px;
  background: rgba(255, 224, 113, 1);
  border-radius: 14px;

  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 35px;
  position: relative;
  text-align: center;
}

.hot-topics-xuanzhuan {
  position: absolute;
  right: 10px;
  top: 7px;
}

.hot-topics-xuanzhuan img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.hot-topics-item {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  margin-top: 15px;
  height: 175px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.hot-topics-item-img {
  height: 124px;
  overflow: hidden;

}

.hot-topics-item-img img {
  max-width: 100%;
  border-radius: 8px;
}

.hot-topics-item-title {
  margin-top: 5px;
}
.hot-topics-item-title a {
  display: block;
  text-align: left;
  text-indent: 10px;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 17px;

}

.hot-topics-item-topics {
  margin-top: 6px;
  text-indent: 10px;
  text-align: left;
  font-size: 8px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  line-height: 11px;
}

.join-qq-wechat{
  padding-left: 10px;

}
.join-qq{
  text-align: right;
  margin-top: 20px;
  height:26px;
  background: rgb(32, 134, 246);
  box-shadow:0px 0px 4px 0px rgba(0,0,0,0.2);
  border-radius:10px;
}
.join-qq-img{
  padding-top: 5px;
}
.join-qq-img img{
  width: 15px;
  height: 16px;

}

.join-qq-text{
  text-align: left;
  text-indent: 8px;
}
.join-qq-text a{
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height: 26px;
}
